.friends .friends__plus {
  padding: 20px 0px;
  border-bottom: 1px solid #f7f7f7;
  border-top: 1px solid #f7f7f7;
  margin: 20px 0px;
}

.friends__plus .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #52e084;
  font-size: 14px;
}

.friend__now-listening span,
.friend__now-listening i {
  opacity: 0.6;
}

.friend__now-listening i {
    font-size: 12px;
}